@using DAL.BusinessModels
@model PagingModel
@{
}
<script>
    var Page = @Model.Page;
</script>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item Previous" onclick="pagingAjax(Page-1)">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>

                    <span class="sr-only">Previous</span>

                </a>
            </li>
        }
        @for (var page = 1; page <= Model.PagesCount; page++)
        {
            var activeClass = page == Model.Page ? "active" : "";
            <li class="page-item @activeClass" onclick="pagingAjax(@page)"><a class="page-link" href="#">@page</a></li>
        }
        @if (Model.HasNextPage)
        {
            <li class="page-item Next" onclick="pagingAjax(Page+1)">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>

                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>

<script>
    function pagingAjax(currentPage) {
        debugger;
        $.ajax({
            method: 'POST',
            url: '@Url.Action("Paging", "Student")',
            data: { currentPage },
            success: function (result) {
                $("#ListTable").html(result);
            }
        });
    }
</script>
