@using DAL.BusinessModels
@model PagedList<Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@Html.Partial("_StudentsList", Model)

